/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
input, textarea, keygen, select, button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 16px;
    vertical-align:baseline;
    background:transparent;
    color: #fff;
    font-family: 'Dosis', san-serif;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
input, textarea, keygen, select, button {
    overflow: hidden;
}

html, body{
    height: 100%;
}

body {
    line-height:1;
    text-align: left;
    color: #fff;
}

.container {
    height: 100%;
    overflow: auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #fff;
    text-decoration: none;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/** Set full width background image **/

html {
    background:
    linear-gradient(
      rgba(135, 135, 135, 0.45),
      rgba(135, 135, 135, 0.45)
    ),
    url('../magazines-desk-work-workspace.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(202, 202, 200);
    background-position: 50% 50%;

}

h1 {
    font-size: 14.3vw;
    margin-bottom: 9vw;
}

.content {
    height: 100vh;
    min-height: 500px;
    margin-bottom: -35px;
}

.wrap {
    margin-top: 300px;
    margin-left: 1em;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    list-style: none;
}

nav li, .social li {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}

li.button, input[type=submit] {
    border: #fff 2px solid;
    padding: 16px;
    transition: background-color 170ms ease-in-out,
    padding 170mx ease-in-out;
    cursor: pointer;
}

nav li a {
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
}

li.button:hover, input[type=submit]:hover,
li.button:focus, input[type=submit]:focus {
    background-color: #fff;
    border-color: transparent;
    color: #181818;
}

input[type=submit]:focus {
    padding: 18px;
}

.social {
    box-sizing: content-box;
    text-align: right;
    padding-right: 15px;
}

footer {
    box-sizing: margin-box;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.social li {
    padding: .5vw;
}

.genericon {
    font-size: 22px;
    border-radius: 50%;
    padding: 4.4px 4px 4px 5px;
    transition: border-color 170ms ease-in-out;
}

.social li:hover .genericon {
    color: #7780DB;
}

#popover {
    z-index: 99;
    width:100%;
    height:100%;
    opacity:.9;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow: auto;
}

.formContainer {
    width: 100%;
    margin: 17% auto;
}

form, form ul, form li, input, label, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    padding: 10px 20px;
    border-radius: 10px;
    color: #ccc;
    min-height: 480px;
}

label, input, textarea {
    display: block;
}

form ul {
    list-style-type: none;
    margin: 3em auto;
    padding: 0;
    max-width: 350px;
}

form li {
    border-bottom: 1px solid #fff;
    margin-top: -1px;
    position: relative;
}

label {
    font-family: raleway, 'sans-serif';
    font-size: 70%;
    color: #fff;
    letter-spacing: 0.03em;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
}

label.wp-notice {
  top: -45px;
}

.wp-contact-link {
  border-bottom: 1px dashed;
}

.wp-contact-link:hover {
  border-bottom: none;
}

.active label, input:focus+label, textarea:focus+label {
        color: #087E75;
        font-weight: bold;
        letter-spacing: -0.01em;
    }

input, input:focus, textarea, textarea:focus {
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 18px;
    margin: 9px 0 7px 0;
    margin: 0;
    outline: none;
    width: 100%;
}

input[type=text], input[type=email], input[type=text]:focus, input[type=email]:focus, textarea, textarea:focus {
    padding: 2em 10px 10px 10px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    color: #000;
    background-color: #ccc;
    box-shadow: 0px 3px 4px -2px rgba(0,0,115,0.25) inset;
}

label, input, textarea {
    transition: color 0.2s ease-in-out, background-color 0.1s ease-in-out;
}

textarea {
    min-height: 56px;
}

input[type=submit] {
    margin-top: 15px;
    color: #fff;
    max-height: 60px;
    vertical-align: middle;
}

.form .close {
    font-size: 16px;
    cursor: pointer;
    //*position: relative;*//
    color: #aaa;
    margin: 5px;
}

@media screen and (min-width: 612px) {
    h1 {
        font-size: 12vw;
    }

    .content {
        min-height: 650px;
        margin-bottom: -100px;
    }

    nav a, li.button {
        font-size: 2.5vw;
    }

    li.button {
        padding: 3vw;
    }

    label {
        font-size: 50%;
    }

    .social {
        margin: 15px 30px;
    }

    .genericon {
        font-size: 36px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        margin-bottom: .5em;
    }

    nav a, li.button {
        font-size: 1em;
    }

    li.button {
        padding: 1em;
    }

    form ul {
        max-width: 500px;
    }

    label {
        font-size: 13px;
    }

}

@media screen and (min-width: 986px) {
    h1 {
        font-size: 7.5em;
        margin-bottom: .4em;
    }

    .wrap {
        margin-top: 400px;
        margin-left: 2em;
    }

    .social {
        border-bottom: 4px solid #0bcdd9;
    }

}
